<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <kingletas_catalog_index>
            <general>
                <enabled>0</enabled>
            </general>
            <connection>
                <use_catalog_search>1</use_catalog_search>
                <hostname>localhost</hostname>
                <port>9200</port>
                <https>0</https>
                <enable_auth>0</enable_auth>
                <username/>
                <read_timeout_ms>400</read_timeout_ms>
                <write_timeout>30</write_timeout>
                <index_prefix>kingletas_catalog</index_prefix>
            </connection>
            <index>
                <shards>1</shards>
                <replicas>0</replicas>
                <keep_previous>1</keep_previous>
            </index>
            <pages>
                <category_listing>0</category_listing>
                <search_listing>0</search_listing>
                <product_view>0</product_view>
                <category_view>0</category_view>
                <category_tree>0</category_tree>
                <linked_products>0</linked_products>
                <widget>0</widget>
                <graphql>0</graphql>
            </pages>
            <features>
                <configurable_options>0</configurable_options>
                <configurable_attributes>0</configurable_attributes>
            </features>
            <breaker>
                <failures>5</failures>
                <cooldown>30</cooldown>
            </breaker>
            <updates>
                <mode>queue</mode>
                <inline_limit>50</inline_limit>
                <batch_size>200</batch_size>
            </updates>
            <purge>
                <enabled>1</enabled>
                <low_stock_threshold>0</low_stock_threshold>
            </purge>
            <staging>
                <mode>auto</mode>
            </staging>
            <schedule>
                <enabled>1</enabled>
            </schedule>
            <drift>
                <sample_size>200</sample_size>
                <alert_ratio>0.02</alert_ratio>
            </drift>
            <metrics>
                <fallback_budget>0.05</fallback_budget>
            </metrics>
        </kingletas_catalog_index>
    </default>
</config>
